// screen
$tiny: 320px;
$sm: 575px;
$md: 767px;
$lg: 1023px;
$xl: 1439px;

$min-height: 600px;

// colors
$black: #121212;
$white: #fff;
$blue: #007bff;
$yellow: #cfb860;
$green: #0ec261;
$red: #cb4949;
$gray: #999999;
$gray-light: #eeeeee;
$gray-high-light: #f5f6f8;
$transparent: rgba(0, 0, 0, 0);

// fonts
$roboto-bold: "Roboto-Bold";
$roboto-light: "Roboto-Light";
$roboto-medium: "Roboto-Medium";
$roboto-regular: "Roboto-Regular";
$grapeNuts-regular: "GrapeNuts-Regular";
